@import "lib/less/bootstrap.less";
@import "hack.less";
@import "seasons.less";

body {
	padding: 50;
	min-height: 100%;
	margin: 0;
	background: #ddd;
}

.insufficentFunds {
	color: red;
}

#fullscreen-button {
	position: absolute;
	top: 6px;
	right: 5px;
}

:-webkit-full-screen #fullscreen-button {
	display: none;
}

.messages {
	padding-left: 0;
	margin-left: 0;
	
	li {
		padding-left: 22px;
		list-style: none;
		background: url(img/messages_icons.png) 100px 100px no-repeat transparent;

		&.gossip {
			background-position: 0 -100px;
		}

		&.spreadsheet {
			background-position: 0 -50px;
		}
	}
}
