@import "lib/less/bootstrap.less";
@import "lib/less/hack.less";

body {
	padding: 50;
	min-height: 100%;
	margin: 0;
	background: #fff;
	
	.building-container {
		width: 260px;
		height: 300px;		
		position: relative;
		background: url(img/bldg_winter.png) top left no-repeat;
		left: -40px;
		top: -10px;
		.transition(all 5s);
	}
	
	&.season-spring {
		
		.building-container {
			background-image: url(img/bldg_spring.png);
			.transition(all 5s);
		}
	}
	
	&.season-summer {
		
		.building-container {
			background-image: url(img/bldg_summer.png);
			.transition(all 5s);
		}
	}
	
	&.season-winter {
		
		.building-container {
			background-image: url(img/bldg_winter.png);
			.transition(all 5s);
		}
	}
	
	&.season-fall {
		
		.building-container {
			background-image: url(img/bldg_fall.png);
			.transition(all 5s);
		}
	}
}

.insufficentFunds {
	color: red;
}

#above {
	height: 260px;
}